__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
llm.py
mlflow.db
mlruns
.env
frontend.py
mlflow.ipynb
mlflowget.ipynb
uv.lock
pyproject.toml
confusion_matrix.png
.python-version
data
mlruns
mlflow.db
models
imdb384
code.txt
initialized.txt
new.py
scripts.py
